{
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "bracketSameLine": false,
  "editorconfig": true
}
